nav {
    background-color: darken($ophidianblue, 5%);
    box-shadow: none;
    a {
        color: $white;
        &:hover {
            color: $ophidianorange;
        }
    }

    
        h3 {
            font-size: 1rem;
        }
    

    .navbar-brand {
        color: $white;
        font-size: 1.6rem;
        background: url('../img/mbg_cookie.svg') center no-repeat;
        background-size: contain;
        width: 75px;
        height: 75px;

        &:hover{
            color: $white;
        }
    }
}

#topNav {
    min-height: 91px !important;
}