<%# ---------------------------------------------------------------------------------
  Name:         default.ejs
  Type:         Layout
  Description:  This is the default Layout Templete that is used throughout the site.
  Notes:        -   Entire body is wrapped by the flex-wrap div.
  Last Refactored: 11/28/2018
---------------------------------------------------------------------------------  #%>
<!doctype html>
<html>

<head>
    <% include ../partials/_head %>
</head>

<body>
    <div id="flex-wrap">
        <header>
            <% include ../partials/navs/_default-top-nav %>
        </header>
        <main>
            <%- body %>
        </main>

        <footer>
            <% include ../partials/footers/_default-footer %>
        </footer>

        <% include ../partials/scripts/_default-scripts %>
    </div>
</body>

</html>