<!doctype html>
<html>

<head>
    <% include ../partials/_head %>
</head>

<body data-spy="scroll" data-target=".sidebar">
    <% include ../partials/_fixed-top-nav %>
    <header>
    <% include ../partials/_game-trailer %>
    </header>
    
    <main id="game-main">
    <% include ../partials/_game-description %>
    <% include ../partials/_game-platform %>
    </main>

    <footer>
        <% include ../partials/_footer %>
    </footer>

    <% include ../partials/_scripts %>
</body>

</html>