<%# ---------------------------------------------------------------------------------
  Name:         _default-footer.ejs
  Type:         Partial
  Description:  This is the default partial templete for the <footer> of the page
  Last Refactored: 11/28/2018
---------------------------------------------------------------------------------  #%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 d-flex flex-column text-center justify-content-center">
      <h4>ManBeardGames <span>&copy; 2019</span></h4>
    </div>

    <div class="col-md-4 d-flex flex-column text-center justify-content-center">
      <small>ManBeardGames logo created by <a href="https://www.twitch.tv/cookie042" target="_blank">cookie042</a></small>
    </div>

    <div class="col-md-4 social-icons justify-content-center text-center">
      <a href="https://www.twitter.com/manbeardgames" target="_blank">
        <i class="mdi mdi-36px mdi-twitter"></i>
      </a>
      <a href="https://www.gitlab.com/manbeardgames" target="_blank">
        <i class="mdi mdi-36px mdi-gitlab"></i>
      </a>
      <a href="https://store.steampowered.com/search/?publisher=ManBeardGames" target="_blank">
        <i class="mdi mdi-36px mdi-steam"></i>
      </a>
    </div>
  </div>
</div>