<!-- BEGIN: source/partials/_landing.ejs -->
<div id="landing">
  <div class="content">
    <h1 class="brand">Man Beard Games</h1>
    <div id="info" class="hidefirst">
      <p class="tagline">Indie Game Dev | Web Dev | Twitch Streamer</p>
      <ul class="primary-nav">
        <li><a id="animatescroll" href="#games">Games</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/dev-blog">Dev Blog</a></li>
      </ul>
    </div>

  </div>

</div>
<!-- END: source/partials/_landing.ejs -->