<% include ./partials/_landing %>
<div class="content">
<div id="swap"></div>
  <div class="container-fluid m-0 p-0">
    <div id="games">
      <%- include ./partials/_games %>
    </div>
  </div>
</div>