#games {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    .game {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        padding: 15px 15px;
        &:nth-child(2n) {
            background-color: $gray-200;
        }
        .game-container {
            width: 65rem;
            margin-right: auto;
            margin-left: auto;
            padding: 15px 15px;
            display: flex;
            flex-direction: column;
            // .game-preview-container,
            // .game-overview-container {
            //     flex-basis: 100%;
            // }

            .game-preview-container{
                display: flex;
                flex-direction: row;
                justify-content: center;

                img {
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                }
                
            }

            .game-overview-container {
                display: flex;
                justify-content: center;
                align-self: center;

                padding-top: 2rem;
                max-width: 480px;
                flex-direction: column;

                .block-platforms {
                    @include flexbox;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include flex-wrap(wrap);
                    .platform {
                        a {
                            color: $ophidianblue;
                            transition: color 0.3s;
                            &:hover {
                                text-decoration: none;
                                color: $ophidianorange;
                            }
                            .mdi-48px.mdiset,
                            .mdi-48px.mdi::before {
                                font-size: 5rem;
                            }
                            .platform-badge {
                                display: inline-block;
                                vertical-align: top;
                                border-radius: 2px;
                                padding: 40px;
                                width: 230px;
                                height: 92x;
                                // background-color: #EFEFEF;
                                // border: 1px solid #ddd;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin-bottom: 14px;
                                margin-right: 14px;
                            }
                            .itch-logo {
                                background-image: url('../img/itchio-logo/itchio-textless-black.svg');
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                width: 5rem;
                                height: 5rem;
                                transition: all 0.3s;
                                &:hover {
                                    background-image: url('../img/itchio-logo/itchio-textless-orange.svg')
                                }
                            }
                        }
                    }
                }                

                .game-platform {
                    margin-right: auto;
                    .mdi {
                        color: #000;
                        transition: color 0.3s;
                        &:hover {
                            color: $ophidianorange;
                        }
                    }
                    .itch-logo {
                        background-image: url('../img/itchio-logo/itchio-textless-black.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        width: 48px;
                        height: 48px;
                        transition: all 0.3s;

                        &:hover {
                             background-image: url('../img/itchio-logo/itchio-textless-orange.svg')
                        }
                    }
                }

                // a {
                //     margin-left: auto;
                // }
            }
        }
    }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #games {
        .game {
            .game-container {
                flex-direction: row;
                .game-preview-container{    
                    img {
                        max-width: 480px;
                        max-height: 270px;
                    }
                    
                }                
                .game-overview-container {
                    padding-top: 0px;
                    padding-left: 2rem;
                    max-width: initial;

                    .block-platforms {
                        @include flex-wrap(nowrap);
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}